@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Yash Shah
   Date: 25/02/2023  
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */

/* html element height set to 100% */
html {
   height: 100%;
}

/* body element adjustment where width = 95%, min width = 640px, max width = 960px*/
/* body element adjustment which is centers horizontally & minimum height of the browser window = 100% */

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
}

/* Set all inline images as blocks */

img {
   display: block;
}

/* CSS Grid Styles */

/* body element as a grid with four columns of lenght 1fr but insted of fr using 25% */

body{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}

/* Style rule for img id = "logo" width = 100%, spans 3 columns */ 

#logo {
   width: 100%;
   grid-column: span 3;
}

/* style rule for Horizontal navigation list and the footer element span 4 columns */

nav.horizontal , footer {
   grid-column: span 4;
}

/* Styles for aside element spans to two columns*/

aside {
   grid-column: span 2;
}

/* Horizontal Navigation List Styles */

/* Style for li element which displays as block, width = 12.5%, floatedd on margin left */

nav.horizontal li {
   display: block;
   width: 12.5%;
   float: left;
}


/* Section Styles */

/* Style rule for inline images within section tab, width of image = 50%, set margin for top/bottom = 0 and left/right = auto */

section img {
   width: 50%;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}




/* Customer Comment Styles */

