@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Yash Shah
   Date: 25/02/2023  
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */

/* html element height set to 100% */
html {
   height: 100%;
}

/* body element adjustment where width = 95%, min width = 640px, max width = 960px*/
/* body element adjustment which is centers horizontally & minimum height of the browser window = 100% */

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
}

/* Set all inline images as blocks */

img {
   display: block;
}

/* CSS Grid Styles */

/* body element as a grid with four columns of lenght 1fr but insted of fr using 25% */

body{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}

/* Style rule for img id = "logo" width = 100%, spans 3 columns */ 

#logo {
   width: 100%;
   grid-column: span 3;
}


/* Horizontal Navigation List Styles */



/* Section Styles */




/* Customer Comment Styles */

